{% extends "messages/base.html" %} 

{% block content %} 
<h1>Deleted Messages</h1>
<table class="messages">
	<thead>
		<tr><th>Sender</th><th>Subject</th><th>Date</th><th>Action</th></tr>
	</thead>
	<tbody>
{% for message in message_list %} 
	<tr>
		<td>{{ message.sender }}</td>
		<td> 
		{{ message.subject }}
		</td>
		<td>{{ message.sent_at|date:"d.m.Y - H:i" }}</td>
		<td><a href="/messages/undelete/{{ message.id }}/">undelete</a></td>
	</tr>
{% endfor %}
 	</tbody>
</table>
<br />
<p>Deleted Messages are removed from the trash at unregular intervals, don't rely on this feature for long-time storage.</p>
{% endblock %}