{% extends "django_messages/inner.html" %}
{% load i18n %}

{% block messages_sidebar %}
   {% include "django_messages/_navbar.html" with active_link="inbox" %}
{% endblock messages_sidebar %}

{% block messages_content %}
        <div class="inbox-head">
          <h3>{% trans "Inbox" %}</h3>
        </div>
        <div class="inbox-body">
          {% if message_list %}
          <table class="table table-inbox table-hover">
            <thead>
                <tr>
                  <th>{% trans "Sender" %}</th>
                  <th>{% trans "Subject" %}</th>
                  <th>{% trans "Received" %}</th>
                  <th>{% trans "Action" %}</th>
                </tr>
            </thead>
            <tbody>
              {% for message in message_list %}
              <tr class="{% if message.new %}unread{% elif message.replied %}replied{% endif %}">
                <td class="view-message">{{ message.sender }}</td>
                <td class="view-message"><a href="{{ message.get_absolute_url }}">{{ message.subject }}</a></td>
                <td class="view-message">{{ message.sent_at|date:"SHORT_DATETIME_FORMAT" }}</td>
                <td class="view-message"><a class="btn btn-danger btn-sm" href="{% url 'messages_delete' message.id %}">{% trans "delete" %}</a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% else %}
            <p>{% trans "No messages." %}</p>
          {% endif %}
        </div>
{% endblock messages_content %}
