{% load i18n %}
{% load url from future %}

{% blocktrans with recipient=message.recipient.get_username sender=message.sender.get_username recipient_old=message.recipient.username sender_old=message.sender.username%}Hello {{ recipient }}{{ recipient_old }},

you received a private message from {{ sender }}{{sender_old}} with
the following contents:{% endblocktrans %}

{{ message.body|safe }}

--
{% blocktrans %}Sent from {{ site_url }}{% endblocktrans %}
{% trans "Inbox" %}: {{ site_url }}{% url 'messages_inbox' %}
{% trans "Reply" %}: {{ site_url }}{% url 'messages_reply' message.pk %}     