{% extends "django_messages/inner.html" %}
{% load i18n %}

{% block messages_sidebar %}
   {% include "django_messages/_navbar.html" with active_link="trash" %}
{% endblock messages_sidebar %}

{% block messages_content %}
        <div class="inbox-head">
          <h3>{% trans "Deleted Messages" %}</h3>
        </div>
        <div class="inbox-body">
          {% if message_list %}
          <table class="table table-inbox table-hover">
            <thead>
                <tr>
                  <th>{% trans "Sender" %}</th>
                  <th>{% trans "Subject" %}</th>
                  <th>{% trans "Date" %}</th>
                  <th>{% trans "Action" %}</th>
                </tr>
            </thead>
            <tbody>
              {% for message in message_list %}
              <tr>
                <td class="view-message">{{ message.sender }}</td>
                <td class="view-message">{{ message.subject }}</td>
                <td class="view-message">{{ message.sent_at|date:"SHORT_DATETIME_FORMAT" }}</td>
                <td class="view-message"><a class="btn btn-outline-success btn-sm" href="{% url 'messages_undelete' message.id %}">{% trans "undelete" %}</a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% else %}
            <p>{% trans "No messages." %}</p>
          {% endif %}
        </div>
        <div>
        <p class="small text-muted">{% trans "Deleted Messages are removed from the trash at unregular intervals, don't rely on this feature for long-time storage." %}</p>
        </div>
{% endblock messages_content %}