{% extends "django_messages/inner.html" %}
{% load i18n inbox %}

{% block messages_sidebar %}
    {% include "django_messages/_navbar.html" %}
{% endblock messages_sidebar %}

{% block messages_content %}
    <div class="inbox-head">
        <h3>{% trans "View Message" %}</h3>
    </div>
    <div class="inbox-body">
        <div class="panel-body message">
            <span class="btn-group">
                {% ifequal message.recipient.pk user.pk %}
                <a href="{% url 'messages_reply' message.id %}" class="btn btn-outline-info"><span class="fa fa-reply" alt="{% trans "Reply" %}"></span></a>
                {% endifequal %}
            </span>
            <a href="{% url 'messages_delete' message.id %}" class="btn btn-outline-danger"><span class="fa fa-trash" alt="{% trans "Delete" %}"></span></a>
            <div class="message-title">{{ message.subject }}</div>
            <div class="header">
                <img class="avatar" src="{% get_gravatar message.sender.email %}">
                <div class="from">
                    <span><b>{% trans "From" %}: </b>{{ message.sender.email }}</span>
                    <b>{% trans "To" %}: </b> {{ message.recipient }}
                </div>
                <div class="date"><span class="fa fa-calendar"></span>&nbsp;{{ message.sent_at|date:"SHORT_DATETIME_FORMAT" }}</div>
                <div class="menu"></div>
            </div>
            <div class="content">
                <p>{{ message.body|linebreaksbr }}</p>
            </div>
            <!--form method="post" action="">
                <div class="form-group">
                    <textarea class="form-control" id="message" name="body" rows="12" placeholder="Click here to reply"></textarea>
                </div>
                <div class="form-group">
                    <button tabindex="3" type="submit" class="btn btn-success">Send message</button>
                </div>
            </form-->
        </div>
    </div>
{% endblock messages_content %}
